.nav{
    background-color: #5a81c4;
}

.let{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
      
}

.test{
    font-family: sans-serif;
    font-size: 20px;
     
}

  .ss{
      background-color:#1a1a1c;
      padding: 30px;
  }

 .btnn{
     width: 60%;
     text-align: center;
       background-color: #1a1a1c;
       padding: 15px;
       color: white;
 }

 .cc{
     background-color:  black;
     padding: 25px;
 }

 .ll{
     background-color: #1a1a1c;
      
 }

 .btnnn{
    
    text-align: center;
      background-color: #1a1a1c;
      padding: 15px;
      color: white;
}

.jkkj{
    width: 95%;
}